<a href="https://colab.research.google.com/github/saikanna472/aws_restart/blob/main/python_course0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
1+1

2

In [ ]:
8*3

24

In [ ]:
tell = 11
tell2=22
new_tell= (tell2)
print (new_tell)

22

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
a=10
b=20
a+b, a-b, a*b, a/b, a//b, b%a, a**b, a==b, a!=b, b>a
c = a+b
print (c)
d= 11.5
type(d)

30

float

In [ ]:
#Boolean
print ( type(True), type(False) )
print (True+True)
True+True+False+False

<class 'bool'> <class 'bool'>
2

2

In [ ]:
#Strings
Name = "kanna"
print(Name[0]) #Indexing starts with 0
print(Name[1:4]) #last number is excluded
print(Name[-2]) #indexing starts from reverse from -1
print(Name[-5:-2]) #excludes -2
print(Name *2) #prints two times

#Concatination of string
print(Name + "Sai") #concatination of strings
a= Name + "Sai"
print (a)
print(len(a))

k
ann
n
kan
kannakanna
kannaSai
kannaSai
8

In [ ]:
#Slicing of string
Mosby = "The best architect"
#Slicing (indexing) ---> str[start:stop:step]
print(Mosby[::1]) #no changes
print(Mosby[::2])#one index jump
print(Mosby[::3]) #Two index jump
print(Mosby[4::2])#starts 4th index, one index jump

The best architect
Tebs rhtc
T sahe
bs rhtc

In [ ]:
#Reversing
print(Mosby[::-1])#no chnages but reverses
print(Mosby[1:5])

tcetihcra tseb ehT
he b

In [ ]:
#Update string
var = 'Hello World!' #string can be in '' or""
print ("update streing:-", var + "Python")
print ("update streing:-", var[:6] + "Python")

update streing:- Hello World!Python
update streing:- Hello Python

In [ ]:
# Listing
string = "This is Python"
st = list(string)
print(st)

#formatting

var = "%.2f %s is %s $%d"
print(var %(7.8440, "Python", "caught", 23))

#String formatting
print("My name is %s and weight is @ %d kgs!" %("Python", 67))

['T', 'h', 'i', 's', ' ', 'i', 's', ' ', 'P', 'y', 't', 'h', 'o', 'n']
7.84 Python is caught $23
My name is Python and weight is @ 67 kgs!

In [ ]:
#Input and Formt usage

Name = input("Enter name: ")
Weight = eval(input("Enter Weight: "))
print("My name is %s and weight is %d" %(Name, Weight))
type (Weight)

Enter name: kanna
Enter Weight: 71
My name is kanna and weight is 71

int

In [ ]:
#Quoting
Statement = """ My name is 'Sai' and age is "25". """ #String can be triple, double or single quoted
print(Statement)
type(Statement)

 My name is 'Sai' and age is "25".

str

In [ ]:
#Upper and lower case conversion

Name = "Kanna"
print(type(Name))
print(Name.capitalize()) #First letter capital
print(Name.upper())
print(Name.lower())
print(Name.swapcase())
print(Name.center(50)) #string in ceter
#Strip
Name1 = '       Kanna       '
print(Name1.strip())#remove space
print(Name1.lstrip())#remove left space
print(Name1.rstrip())

<class 'str'>
Kanna
KANNA
kanna
kANNA
                      Kanna
Kanna
Kanna
       Kanna

In [ ]:
#count()---inbuilt variable. counts and returns no.of occurences of substring in a string
string = "gvdxyew is python programmer" #define string
substring = "g" # define substring
count = string.count(substring)
count1 = string.count(substring, 8, 23) #count g between 8 till 23 characters
print(count, count1)

2 1

In [ ]:
#isalnum() used for string is alpha num or not
Num= "thisis1"
Numb = "this is"
Num2 = "128336"
print(Num.isalpha()) #for alphanumeric
print(Num.isalnum())
print(Numb.isalnum())
print(Numb.isalpha()) #for alphabets only
print(Num2.isdigit()) #for numbers
print(type(Num), type(Num1), type(Num2))

False
True
False
False
True
<class 'str'> <class 'str'> <class 'str'>

In [ ]:
#Replacemet method use inbuilt --- replace()
reply = "This is ubdcube3 jhw is hdv is is is"
print(reply.replace("is", "was"))
print(reply.replace("is", "was", 3)) #replace(replace string, Replace with, No. of instance)
print("@".join(reply))#join each characters in string with other string "@"

Thwas was ubdcube3 jhw was hdv was was was
Thwas was ubdcube3 jhw was hdv is is is
T@h@i@s@ @i@s@ @u@b@d@c@u@b@e@3@ @j@h@w@ @i@s@ @h@d@v@ @i@s@ @i@s@ @i@s

In [ ]:
#Split method -- split(). Splits the space and /n new line character
sp = "iehfuhf wiqdhd\n uegf23 \neufg jecue"
print(sp.split())
print(sp.split(None,2))
 #first two space or /n will beconsidered

['iehfuhf', 'wiqdhd', 'uegf23', 'eufg', 'jecue']
['iehfuhf', 'wiqdhd', 'uegf23 \neufg jecue']

In [1]:
#position in string
x = "hegf dugduwduwb : 6545456.08876"
pos = x.find(":")
print(pos)
num = float(x[pos+1:]) #x[start position: stop position]
print(num, type(num))

16
6545456.08876 <class 'float'>

In [15]:
#List that contain elements seperated by commas in square brackets
list1 = ["Nishd", "jdeudg", 2011, 29]
print(list1)
print(len(list1))
#Access list using index
print(list1[1])
print(list1[:3])
print(list1[1:4])
print(list1[::-1]) #reverse order
list1.append(2100) #add element
print(list1)
list1.remove(2100) #remove element
print(list1)
print(list1.pop()) #remove existing last element
print(list1)
list1.append(29)
print(list1)
print(list1.pop(0)) #remove element in given index
print(list1)
list1.insert(3, 2100) #insert 2100 in 3rd index
print(list1)

['Nishd', 'jdeudg', 2011, 29]
4
jdeudg
['Nishd', 'jdeudg', 2011]
['jdeudg', 2011, 29]
[29, 2011, 'jdeudg', 'Nishd']
['Nishd', 'jdeudg', 2011, 29, 2100]
['Nishd', 'jdeudg', 2011, 29]
29
['Nishd', 'jdeudg', 2011]
['Nishd', 'jdeudg', 2011, 29]
Nishd
['jdeudg', 2011, 29]
['jdeudg', 2011, 29, 2100]

In [16]:
#Extend lists using two or more lists
alist = [123, "hdgdyhd", 233, "tommy", 44]
blist = ["abc", 767]
print(alist * 2)
print(alist + blist)
alist.extend(blist) #extending alist
blist.extend(alist) #extending blist
alist, blist

[123, 'hdgdyhd', 233, 'tommy', 44, 123, 'hdgdyhd', 233, 'tommy', 44]
[123, 'hdgdyhd', 233, 'tommy', 44, 'abc', 767]

([123, 'hdgdyhd', 233, 'tommy', 44, 'abc', 767],
 ['abc', 767, 123, 'hdgdyhd', 233, 'tommy', 44, 'abc', 767])

In [19]:
#Reverse
list1 = [11, 222, "ahs", "aajhd"]
list1.reverse() #reverse the list
list1

['aajhd', 'ahs', 222, 11]

In [49]:
# Sort: sorting list in ascending or descending
list1 = [1,22,442,113]
list1.sort() # sorting numbers in ascending, where reverse is default false
print(list1)
list1.sort(reverse = True) #sort in descending
print(list1)

#Another Sorting
list2 = [2,93,33,29]
list3 = sorted(list2) #sorting and assigning to variable
print(list3)
list3 = sorted(list2, reverse = True)
print(list3)
print(max(list3))
print(min(list1))

#sorting string using the len and alphabets

list4 = ['klm', 'lmn', 'hijd', 'abcg']
print(sorted(list4, key=len)) #making use of inbuilt function "len"
list5 = ['abcg', 'eff', 'hijd', 'lmi']
def fun(l):        #syntax
  return l[-1]   #sorted using last index value d,f,g,i
print(sorted(list5, key=fun, reverse=True)) #making use of user defined function "fun

[1, 22, 113, 442]
[442, 113, 22, 1]
[2, 29, 33, 93]
[93, 33, 29, 2]
93
1
['klm', 'lmn', 'hijd', 'abcg']
['lmi', 'abcg', 'eff', 'hijd']

In [30]:
# count
list1 = [1, 228, "abc", 28, "abc"]
print(list1.count('abc')) #count the value in list
print(list1.index("abc")) #gives index of elem
type(list1)

2
2

list

In [55]:
#list are mutable where elements can be replaced
#tuples are immutable, where elements are irreplceble
#tuple use normal brackets, where list use square
tup1 = (1, 2, 3, 4, 5)
tup2 = ('abcd', 'shgdyd', 6, 'ysgtd', 9, 12)
tup3 = ()
print(tup1)
print(tup2[1:5])
print(tup3)
tup3 = tup1 + tup2
print(tup3)
del(tup3[2])
print(tup3) #Cannot run as tupple element cannot be deleted or replaceble
#but whole tupple can be deleted using #del(tup3)

(1, 2, 3, 4, 5)
('shgdyd', 6, 'ysgtd', 9)
()
(1, 2, 3, 4, 5, 'abcd', 'shgdyd', 6, 'ysgtd', 9, 12)

TypeError: ignored

In [4]:
#Sets. unordered, unindexed, No duplication, represeted as {}
#Frozen sets similiar to tupple which are not replaceble. represented by ()
set1 = set(['a','b','c'])
print(set1) #prints the elements unorderly as it is set
#Adding
set1.add('d')
print(set1)
set2 = frozenset(['e', 'f', 'g'])
print(set2)
set2.add('j')  #cannot add any element in frozen set

{'c', 'b', 'a'}
{'c', 'd', 'b', 'a'}
frozenset({'f', 'g', 'e'})

AttributeError: ignored

In [30]:
#Set operations
set1 = set() #null set
set2 = set()
set3 = set(['d'])
print (set1, set2, set3)
#Add elements using for loop
for i in range(1, 10):
  set1.add(i)
print(set1)
for i in range(3, 10):  #last value- 10 not included
  set2.add(i)
print(set2)
# Uninon and intersection operations of Sets
set4 = set1 | set2  #union of sets, set1.union(set2), Or statement(|) is used
print("Set4 is uninon of set1 & set2:", set4)
set5 = set1 & set2 #set1.intersection(set2). And (&) is used
print("set 5 is intersection set1, set2:", set5)
#Relation between Sets, Superset: Subset: Same set
if set4 > set5:
  print("set4 is superset")
elif set4 < set5:
  print("set4 is subset")
else : #both are equal sets set4 == set5
  print("set4 is same as set5")
print ("\n") #special char, new line

if set5 < set4:
  print("set5 is subset of set4")
  print("\n")
set6 = set4 - set5 #difference of sets
print(set6)
if set5.isdisjoint(set6):
  print("\n")
  print("sets have no common element \n")
# clearing elements
set6.clear()
print("cleared set6 is:", set6)

set() set() {'d'}
{1, 2, 3, 4, 5, 6, 7, 8, 9}
{3, 4, 5, 6, 7, 8, 9}
Set4 is uninon of set1 & set2: {1, 2, 3, 4, 5, 6, 7, 8, 9}
set 5 is intersection set1, set2: {3, 4, 5, 6, 7, 8, 9}
set4 is superset


set5 is subset of set4


{1, 2}


sets have no common element

cleared set6 is: set()

In [35]:
# Conditional statements: if , if else, elseif syntax
x = 21
y = 25
if x >= 22:
  print("if")
  print("one more")
elif x >= 21:
  print("elif")
else:
  print("else")

elif